
<!-- About start -->
<div class="about-section">
    <!-- My First Story -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-8">
                <img src="" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="about-title">My Story</h1>                
                <p class="about-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto est in rem, recusandae aspernatur corporis dolore quaerat sit aliquam id!
                </p>
                <p class="about-description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum voluptates molestias aliquid doloribus temporibus harum officiis veritatis
                </p>
                <p class="about-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta at inventore in dolores, alias suscipit
                </p>

            </div>   
        </div>
    </div>

    <!-- My second Story -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 class="about-title">When can i get some?</h1>                
                <p class="about-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto est in rem, recusandae aspernatur 
                </p>
                <p class="about-description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum voluptates molestias aliquid doloribus temporibus harum officiis veritatis autem blanditiis consequuntur!
                </p>
                <p class="about-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta at inventore eos magni itaque.
                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 col-md-8">
                <img src="/img/banner3.jpg" alt="">
            </div>   
        </div>
    </div>
</div>
<!-- About end -->