
    <nav class="navbar navbar-dark bg-primary">
      <!-- Navbar content -->
      <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/src/assets/img/logo-nav.png" alt="logo">
          </a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" routerLink="home">Home</a>
              <a class="nav-link active" routerLink="about">About</a>
              <a class="nav-link active" routerLink="gallary">Gallary</a>
              <a class="nav-link active" routerLink="blog">Blog</a>
              <a class="nav-link active" routerLink="contact">Contact</a>
              
            </div>
          </div>
        </div>
      </nav>
    </nav>
  
